@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    font-size: 16px;
}

.blob {
    position: absolute;
    top: -7rem;
    right: -10rem;
    width: 27rem;
    scale: 3;
    rotate: 180deg;
    filter: drop-shadow(0 0 20px #8a3ffc);
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: .7fr 1fr 2fr .4fr 1fr;
    grid-template-areas: 
    "head"
    "free"
    "landing"
    "icon"
    "footer";
    background-color: #181818;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
}

header > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 2%;
    letter-spacing: .3rem;
    background-image: linear-gradient(90deg, #06beb6, #48b1bf);
    -webkit-background-clip: text;
    color: transparent;
}

header > .list {
    width: 15rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1%;
    z-index: 3;
    height: 2rem;
}

header > .list > ul > li {
    list-style: none;
}

header > .list > ul > li > a {
    text-decoration: none;
    letter-spacing: .19rem;
    padding: .5rem;
    border-radius: .5rem;
    transition: .5s ease-in-out;
}

header > .list > ul > li > a:hover {
    background-color: #6113d4;
}

main {
    grid-area: landing;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > .containner-img-icon > img {
    filter: brightness(1.5) opacity(1);
}

main > .main-content {
    margin-left: 2%;
    transform: translateY(-2.2rem);
    display: flex;
    flex-direction: column;
}

main > .main-content > .containner-button {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

main > .main-content > .containner-button > button {
    background: linear-gradient(90deg, #245dc7, #4581f0);
    width: 8rem;
    height: 2.43rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 30px #245dc7;
}

main > .containner-img-icon {
    height: 23rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

main > .containner-img-icon > img {
    margin-right: 1%;
    width: 22rem;
    transform: translateY(-7rem);
}

main > .containner-img-icon > ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 25%;
    left: 0;
    list-style-type: none;
}

main > .containner-img-icon > ul li {
    
}


main h4,
h1{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Cinzel', serif;
}

main h4 {
    letter-spacing: 0.2rem;
}

main > .main-content > h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
}

main h5 , .word-changeer {
    letter-spacing: .8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

main h5 > .word-changeer {
    text-decoration: underline;
    color: #dddd1e;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
